	<div class="page-content raise">
		<ul class="item-list">
      <% @fund_raisings.each do |fr| %>
        <%= render :partial => 'widgets/fund_raising', :locals => { :fund_raising => fr } %>
      <% end %>
		</ul>
	</div>
</body>
</html>

