	<div class="page-content mall">
		<ul class="item-list">
      <% @products.each do |p| %>
        <%= render :partial => 'widgets/product', :locals => { product: p } %>
      <% end %>
		</ul>
	</div>

