body { background: #f5f6f1; }

.page-content {}
.detail { background-size: cover; overflow: hidden; }
.detail .detail-inner { background: rgba(254, 112, 10, 0.65); }

.detail .detail-inner { text-align: right; font: 23px/43px "Myriad Pro"; color: #fff; padding-top: 70px; padding-bottom: 50px; }
.detail .avatar-box { display: inline-block; background: #fff; margin-top: 25px; margin-right: 10%; }
.detail .avatar-box img { display: block;  }
.detail .avatar-box a { text-align: center; display: block; text-decoration: none; height: 73px; background: #fff; font: 25px/73px "Microsoft Yahei"; color: #252525; }
.detail .desc { text-align: left; padding: 25px 2%; }
.detail .location { display: block; padding: 65px 0 0 45px; font: 23px/33px "Myriad Pro"; color: #fff; }
.detail .location::before { content: ''; display: inline-block; width: 24px; height: 33px; background: url(../../img/split.png) 0 0 no-repeat; vertical-align: middle; margin-right: 15px; margin-top: -5px; }

.show-list { margin-left: 17px; font-size: 0; }
.show-list .container { position: relative; box-sizing: border-box; display: inline-block; padding-right: 17px; vertical-align: top; padding-bottom: 17px; position: relative;}
.show-list .container .img-wrapper {  box-sizing: border-box; display: inline-block; vertical-align: top; background-repeat: no-repeat; background-size: cover; background-position: center; min-height: 356px;  }
.show-list .container img { width: 100%; opacity: 0;}
.show-list .container p { box-sizing: border-box; display: inline-block; vertical-align: top; margin: 0; padding: 20px; }

@media (max-width: 768px) {
    .detail .detail-inner { text-align: center; }
    .show-list .container,
    .show-list .container .img-wrapper,
    .show-list .container p { display: block; width: auto !important; }

    .detail .avatar-box { margin-right: 0; }
}
