%table.table
  %thead
    %tr
      %th 发自
      %th Send to
      %th Content
      %th
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.send_from_id
        %td= message.send_to_id
        %td= message.content
