<div class="page-content work-detail clearfix">
    <div class="order-content">
        <p>购物车列表</p>
        <table class="format">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>相关艺术品</th>
                    <th>艺术家</th>
                    <th>运费</th>
                    <th>价格</th>
                    <th>定金</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#1</td>
                    <td>葵花籽</td>
                    <td>艾未未</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <p class="cart-description">
            购买说明： 卡特琳娜毕业于Samara艺术学校绘画专业，Petrov-Vodkin艺术学院设计系及Michael Musorin摄影学院，她是当代摄影艺术家之一。
        </p>
        <p class="cart-description">
            购买说明： Samara艺术学卡特琳娜毕业于Samara艺术术家之一,设计系及Michael Musorin摄。
        </p>
        <div class="actions">
            <form action="">
                <button class="large-red-btn">确认购买</button>                
            </form>
        </div>  

    </div>
</div>