<div class="page-content">
    <div class="items">
        <a href="" style="background-image: url(assets/demo/atart频道_05.jpg);">
            <img src="assets/demo/atart频道_05.jpg" alt="">
            <span class="title">DESIGN</span>
            <span class="cn-title">设计</span>
            <span class="shares"><span>718</span> shares</span>
        </a>
    </div>
    <ul class="item-list">
        <li>
            <a href="#img-item" class="img">
                <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
            </a>
            <a href="#img-item" class="title">
                at the venice art biennale 2015, a web of thread turns
                the japan pavilion's roof into a complex and elaborate
                maze of materials »
            </a>
            <span class="poster">
                <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
            </span>
            <span class="location">
                ATH
            </span>
        </li>
        <li class="video-item">
            <a href="#img-item" class="img">
                <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
            </a>
            <a href="#img-item" class="title">
                at the venice art biennale 2015, a web of thread turns
                the japan pavilion's roof into a complex and elaborate
                maze of materials »
            </a>
            <span class="poster">
                <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
            </span>
            <span class="location">
                ATH
            </span>
        </li>
        <li class="voice-item">
            <a href="#img-item" class="img">
                <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
            </a>
            <a href="#img-item" class="title">
                at the venice art biennale 2015, a web of thread turns
                the japan pavilion's roof into a complex and elaborate
                maze of materials »
            </a>
            <span class="poster">
                <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
            </span>
            <span class="location">
                ATH
            </span>
        </li>
        <li>
            <a href="#img-item" class="img">
                <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
            </a>
            <a href="#img-item" class="title">
                at the venice art biennale 2015, a web of thread turns
                the japan pavilion's roof into a complex and elaborate
                maze of materials »
            </a>
            <span class="poster">
                <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
            </span>
            <span class="location">
                ATH
            </span>
        </li>
        <li>
            <a href="#img-item" class="img">
                <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
            </a>
            <a href="#img-item" class="title">
                at the venice art biennale 2015, a web of thread turns
                the japan pavilion's roof into a complex and elaborate
                maze of materials »
            </a>
            <span class="poster">
                <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
            </span>
            <span class="location">
                ATH
            </span>
        </li>
        <li>
            <a href="#img-item" class="img">
                <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
            </a>
            <a href="#img-item" class="title">
                at the venice art biennale 2015, a web of thread turns
                the japan pavilion's roof into a complex and elaborate
                maze of materials »
            </a>
            <span class="poster">
                <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
            </span>
            <span class="location">
                ATH
            </span>
        </li>
    </ul>
</div>