	<!-- <div class="carousel-home" data-dpl="carousel" data-responsive="true" data-patch="min-width" data-min-width="1140" data-auto="true" data-pause-duration="4500">
		<ul class="role-list">
			<li>
				<a href="onsite-detail.php" class="role-banner" img-src="assets/demo/atart首页-1.jpg">
					<span class="desc">
						Rippled UAE pavilion by foster + partners opens at expo milan 2015
						<br><span class="more">more</span>
					</span>
					<span class="location">photo by attilio maranzano / courtesy fondazione prada</span>
				</a>
			</li>
			<li>
				<a href="onsite-detail" class="role-banner" img-src="assets/demo/atart首页-2.jpg">
					<span class="desc">
						Rippled UAE pavilion by foster + partners opens at expo milan 2015
						<br><span class="more">more</span>
					</span>
					<span class="location">photo by attilio maranzano / courtesy fondazione prada</span>
				</a>
			</li>
		</ul>
		<a class="role-prev" href="javascript:void(0)">&lt;</a>
		<a class="role-next" href="javascript:void(0)">&gt;</a>
	</div> -->
	<div class="banner-list">
		<ul>
			<li>
				<a href="onsite-detail.php" style="background-image: url(assets/demo/atart首页-1.jpg);">
					<img src="assets/demo/atart首页-1.jpg" alt="">
					<span class="desc">
						Rippled UAE pavilion by foster + partners opens at expo milan 2015
						<br><span class="more">more</span>
					</span>
					<span class="location">photo by attilio maranzano / courtesy fondazione prada</span>
				</a>
			</li>
			<li>
				<a href="onsite-detail.php" style="background-image: url(assets/demo/atart首页-2.jpg);">
					<img src="assets/demo/atart首页-2.jpg" alt="">
					<span class="desc">
						Rippled UAE pavilion by foster + partners opens at expo milan 2015
						<br><span class="more">more</span>
					</span>
					<span class="location">photo by attilio maranzano / courtesy fondazione prada</span>
				</a>
			</li>
			<li>
				<a href="onsite-detail.php" style="background-image: url(assets/demo/atart首页-3.jpg);">
					<img src="assets/demo/atart首页-3.jpg" alt="">
					<span class="desc">
						Rippled UAE pavilion by foster + partners opens at expo milan 2015
						<br><span class="more">more</span>
					</span>
					<span class="location">photo by attilio maranzano / courtesy fondazione prada</span>
				</a>
			</li>
		</ul>
	</div>

