	<div class="me-detail-page-content">

		<div class="detail" style="background-image:url(assets/demo/bg.jpg);">
			<div class="detail-inner pure-g">
	        	<div class="pure-u-1 pure-u-md-2-5">
					<div class="avatar-box">
						<img src="assets/demo/avatar-big.jpg" alt="">
						<a href="">+M design office</a>
					</div>
				</div>
	        	<div class="pure-u-1 pure-u-md-3-5">
					<div class="desc">
						the limited-edition NIKE hyper venom phantom transforms are made
			with a heat-activatedmaterial on the upper, which transforms to rev
			eal a vibrant orange pattern  as the bootsare worn. shortly afterth
			e player removes the boots from their feet they return  to all black.
						<span class="location">HNL</span>
					</div>
				</div>
			</div>
		</div>

		<div class="show-list">
			<div class="container" style="width:33%; min-height: 600px;">
				<div class="img-wrapper" style="min-height: 600px; background-image: url(assets/demo/atart我详细发布-2_03.jpg);">
					<img src="assets/demo/atart我详细发布-2_03.jpg" >
				</div>
			</div>
			<div class="container" style="width:66%; min-height: 600px;">
				<div class="img-wrapper" style="background-image: url(assets/demo/atart我详细发布-2_05.jpg);">
					<img src="assets/demo/atart我详细发布-2_05.jpg" >
				</div>
				<p style="font: 23px/30px Myriad Pro; color: #595959;">
				the limited-edition NIKE hyper venom phantom transforms are made with a heat-activatedmaterial
on the upper, which transforms to reveal a vibrant orange pattern  as the bootsare worn. shortly
after the player removes the boots from their feet they return  to all black.
				</p>
			</div>
			<div class="container" style="width:62%; min-height: 400px;">
				<div class="img-wrapper" style="width: 70%; background-image: url(assets/demo/atart我详细发布-2_09.jpg);">
					<img src="assets/demo/atart我详细发布-2_09.jpg" >
				</div>
				<p style="width: 30%; white-space: nowrap; font: 50px/70px Myriad Pro; color: #595959; padding-top:10%;  overflow: hidden;">
					the <br>
					limited-edition NIKE <br>
					hyper venom phantom
				</p>
			</div>
			<div class="container" style="width:38%; ">
				<div class="img-wrapper" style="min-height: 400px; background-image: url(assets/demo/atart我详细发布-2_12.jpg);">
					<img src="assets/demo/atart我详细发布-2_12.jpg" >
				</div>
			</div>
			<div class="container" style="width:36%;">
				<div class="img-wrapper" style=" min-height: 562px; background-image: url(assets/demo/atart我详细发布-2_19.jpg);">
					<img src="assets/demo/atart我详细发布-2_19.jpg" >
				</div>
			</div>
			<div class="container" style="width:64%;">
				<div class="img-wrapper" style=" min-height: 562px; background-image: url(assets/demo/atart我详细发布-2_16.jpg);">
					<img src="assets/demo/atart我详细发布-2_16.jpg" >
				</div>
			</div>
		</div>
