<iframe title="pannellum panorama viewer" allowfullscreen style="border-style:none;width:100%;height:500px;" src="https://pannellum.org//pannellum/pannellum.htm?tour=/panoramas/tour.json"></iframe>
<div class="page-content onsite-detail">
    <p class="title">
        卡特琳娜作品展
    </p>
    <div class="info-list">
        <p>展览时间: 2015年08月22日 - 10月30日</p>
        <p>开幕酒会：2015年08月22日09:30 - 10:30</p>
        <p>地址：北京市朝阳区南皋路129号北京市塑料三厂文化园在3画廊 </p>
        <p>电话： 010-25435245</p>
    </div>
    <p class="description">
        眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。只有這座敬亭山，和我靜靜對望而始終不覺厭煩。(B)國破山河在，城春草木深。雖然山河還在但國家殘破，儘管春歸京城卻草木叢生。感時花濺淚，恨別鳥驚心。可怕的戰亂使我無比痛苦，看見美麗花兒會迸出淚水；和妻兒離別叫我萬分怨恨，聽到悅耳的鳥鳴聲也暗自心驚。峰火連三月，家書抵萬金。如今已是三月，戰火依然不停，交通完全隔絕，家信要值萬金。白頭搔更短，渾欲不勝簪。愁白了的頭髮越抓便掉得越快，稀疏短髮連簪子都已插不穩。
    </p>
    <div class="comments">
        <p class="title">用户评价 (123)</p>
        <ul>
            <li>
                <a href="" class="avatar">
                    <img src="assets/pic3.png" alt=""/>
                </a>
                <div class="username">Chris</div>
                <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                <div class="actions">
                    <a href="" class="edit"></a>
                    <a href="" class="heart"></a>
                    <a href="" class="reply"></a>
                </div>
            </li>
            <li>
                <a href="" class="avatar">
                    <img src="assets/pic3.png" alt=""/>
                </a>
                <div class="username">Chris</div>
                <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                <div class="actions">
                    <a href="" class="edit"></a>
                    <a href="" class="heart"></a>
                    <a href="" class="reply"></a>
                </div>
            </li>
            <li>
                <a href="" class="avatar">
                    <img src="assets/pic3.png" alt=""/>
                </a>
                <div class="username">Chris</div>
                <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                <div class="actions">
                    <a href="" class="edit"></a>
                    <a href="" class="heart"></a>
                    <a href="" class="reply"></a>
                </div>
            </li>
        </ul>
        <div class="add-comment">
            <form action="">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button class="comment-btn">发布评论</button>
            </form>
        </div>
    </div>
</div>
