<div class="page-content work-detail clearfix">
    <div class="order-content">
        <div class="success-img">
            <img src="assets/order-check.png" alt="">
        </div>
        <h3>您的支付已成功完成</h3>
        <p class="order-description">
            订单号：#t5243524532 状态：已支付 您可在我的订单中查看订单详情
        </p>
    </div>
</div>