<div class="page-content raise-detail clearfix">
    <div class="span-left">
        <div class="header-navigation">
            <a href="#">众筹</a> | <span>卡特琳娜 贝尔金娜</span>
        </div>
        <div class="poster">
            <img src="assets/pic1.png" alt="">
        </div>

        <div class="switch-tabs">
            <div class="tab-navs">
                <a class="tab active" href="#story">故事</a>
                <a class="tab" href="#comments">用户评论</a>
                <a class="tab" href="#support">支持者</a>            
            </div>
            <p class="story-title">
                卡特琳娜
            </p>
            <p class="story-description">
                发起人： 方枪枪 发起时间： 2015-08-28 结束众筹：2015-08-28
            </p>
            <div class="tab-contents">
                <div class="tab-content active" id="story">
                    <div class="story-content">
                        <p>
                            卡特琳娜毕业于Samara艺术学校绘画专业，Petrov-Vodkin艺术学院设计系及Michael Musorin摄影学院，她是俄罗斯 最优秀的当代摄影艺术家之一。卡特琳娜获得2015年德国Cranach艺术奖第一名；2014年莫斯科国际摄影奖艺术摄影 类第一名；2012年洛杉矶国际摄影奖3个类别的第一名；2010年巴黎摄影比赛肖像类第一名；2008年柏林网络国际摄 影比赛第一名；2008年莫斯科博物馆奖；2007俄罗斯年度艺术家奖提名。</p>
                        <p>
                            卡特琳娜毕业于Samara艺术学校绘画专业，Petrov-Vodkin艺术学院设计系及Michael Musorin摄影学院，她是俄罗斯 最优秀的当代摄影艺术家之一。卡特琳娜获得2015年德国Cranach艺术奖第一名；2014年莫斯科国际摄影奖艺术摄影 类第一名；2012年洛杉矶国际摄影奖3个类别的第一名；2010年巴黎摄影比赛肖像类第一名；2008年柏林网络国际摄 影比赛第一名；2008年莫斯科博物馆奖；2007俄罗斯年度艺术家奖提名。
                        </p>
                        <p>
                            卡特琳娜毕业于Samara艺术学校绘画专业，Petrov-Vodkin艺术学院设计系及Michael Musorin摄影学院，她是俄罗斯 最优秀的当代摄影艺术家之一。卡特琳娜获得2015年德国Cranach艺术奖第一名；2014年莫斯科国际摄影奖艺术摄影 类第一名；2012年洛杉矶国际摄影奖3个类别的第一名；2010年巴黎摄影比赛肖像类第一名；2008年柏林网络国际摄 影比赛第一名；2008年莫斯科博物馆奖；2007俄罗斯年度艺术家奖提名。
                        </p>
                        <p>
                            <img src="assets/pic1.png" alt="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="comments">
                <div class="comments">
                    <p class="title">用户评价 (123)</p>
                    <div class="add-comment">
                        <form action="">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button class="comment-btn">发布评论</button>
                        </form>
                    </div>
                    <ul>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <div class="username">Chris</div>
                            <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                            <div class="actions">
                                <a href="" class="edit"></a>
                                <a href="" class="heart"></a>
                                <a href="" class="reply"></a>
                            </div>
                        </li>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <div class="username">Chris</div>
                            <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                            <div class="actions">
                                <a href="" class="edit"></a>
                                <a href="" class="heart"></a>
                                <a href="" class="reply"></a>
                            </div>
                        </li>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <div class="username">Chris</div>
                            <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                            <div class="actions">
                                <a href="" class="edit"></a>
                                <a href="" class="heart"></a>
                                <a href="" class="reply"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="support">
                <div class="comments">
                    <p class="title">用户评价 (123)</p>
                    <div class="add-comment">
                        <form action="">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button class="comment-btn">发布评论</button>
                        </form>
                    </div>
                    <ul>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <p class="date">
                                2015-08-28
                            </p>
                            <div class="username">Chris</div>
                            <p class="comments">赞助 1 元</p>
                        </li>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <p class="date">
                                2015-08-28
                            </p>
                            <div class="username">Chris</div>
                            <p class="comments">赞助 1 元</p>
                        </li>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <p class="date">
                                2015-08-28
                            </p>
                            <div class="username">Chris</div>
                            <p class="comments">赞助 1 元</p>
                        </li>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <p class="date">
                                2015-08-28
                            </p>
                            <div class="username">Chris</div>
                            <p class="comments">赞助 1 元</p>
                        </li>
                        <li>
                            <a href="" class="avatar">
                                <img src="assets/pic3.png" alt=""/>
                            </a>
                            <p class="date">
                                2015-08-28
                            </p>
                            <div class="username">Chris</div>
                            <p class="comments">赞助 1 元</p>
                        </li>
                    </ul>
                </div>                                
            </div>
        </div>
    </div>
    <div class="span-right">
        <div class="info-list">
            <div class="raised-money">已筹集：<span>￥83906</span></div>
            <div class="raise-target">目标金额为：<span>￥100000</span></div>
        </div>
        <div class="raise-progress">
            <p class="raise-progress-title">
                <span class="left">￥300000 元</span>
                <span class="middle">85% Founded</span>
                <span class="right">6 hours left</span>
            </p>
            <div class="raise-progress-wrapper">
                <div class="raise-progress-inner" style="width: 85%;"></div>
            </div>
        </div>
        <div class="raise-declearation">
            <p>项目需在 2015年08月28日10:00 前达到 ￥100000 的金额才算成功，否则已支持订单将取消。</p>
            <p>订单取消时已支持金额将自动退还到您的账号。</p>
        </div>
        <div class="support-right-now">
            <button class="large-red-btn">马上支持</button>
        </div>
        <div class="raised-money"><span>￥83906</span></div>
        <div class="raise-thank">谢谢你！</div>
        <div class="raise-declearation">
            <p>您还会获得一个皮影纪念品（高 18cm 牛皮制作皮影）价值 150 元，您会收到本次巡演众筹特别版纪录片，您的名字会出现在特别鸣谢名单中。我还会建立一个群组邀请喜欢皮影的你一同加入，我会不断更新巡演的内容。</p>
        </div>
        <div class="support-right-now">
            <button class="large-red-btn">马上支持</button>
        </div>
        <div class="raise-bottom">
            <div class="raised-money">支持<span>￥83906</span></div>
            <div class="right">200名支持者</div>
            <div class="full">
                <img src="assets/raise-full.png" alt="">
            </div>
        </div>
    </div>
</div>