<div class="me-detail-page-content">
	<div class="page-content">

		<div class="detail">
            <div class="avatar-box">
                <img src="<%= asset_path('pic3.png') %>" alt="">
                <a href="">+M design office</a>
                <a href="" class="add-people">123</a>
                <a href="" class="people-count">345</a>
            </div>
		</div>
        <div class="user-center clearfix">
            <div class="user-sidebar">
                <ul>
                    <li><a class="user-post active" href="user-post">我的发布<span></span></a></li>
                    <li><a class="user-order" href="user-order">我的订单<span></span></a></li>
                    <li><a class="user-following" href="user-following">我的关注<span></span></a></li>
                    <li><a class="user-favs" href="user-favs">我的收藏<span></span></a></li>
                    <li><a class="user-message" href="user-message">消息中心<span></span></a></li>
                </ul>
            </div>
            <div class="user-center-content">
                <ul class="item-list">
                    <li>
                        <a href="#img-item" class="img">
                            <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
                        </a>
                        <a href="#img-item" class="title">
                            at the venice art biennale 2015, a web of thread turns
                            the japan pavilion's roof into a complex and elaborate
                            maze of materials »
                        </a>
                        <span class="poster">
                            <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
                        </span>
                        <span class="location">
                            ATH
                        </span>
                    </li>
                    <li class="video-item">
                        <a href="#img-item" class="img">
                            <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
                        </a>
                        <a href="#img-item" class="title">
                            at the venice art biennale 2015, a web of thread turns
                            the japan pavilion's roof into a complex and elaborate
                            maze of materials »
                        </a>
                        <span class="poster">
                            <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
                        </span>
                        <span class="location">
                            ATH
                        </span>
                    </li>
                    <li class="voice-item">
                        <a href="#img-item" class="img">
                            <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
                        </a>
                        <a href="#img-item" class="title">
                            at the venice art biennale 2015, a web of thread turns
                            the japan pavilion's roof into a complex and elaborate
                            maze of materials »
                        </a>
                        <span class="poster">
                            <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
                        </span>
                        <span class="location">
                            ATH
                        </span>
                    </li>
                    <li>
                        <a href="#img-item" class="img">
                            <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
                        </a>
                        <a href="#img-item" class="title">
                            at the venice art biennale 2015, a web of thread turns
                            the japan pavilion's roof into a complex and elaborate
                            maze of materials »
                        </a>
                        <span class="poster">
                            <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
                        </span>
                        <span class="location">
                            ATH
                        </span>
                    </li>
                    <li>
                        <a href="#img-item" class="img">
                            <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
                        </a>
                        <a href="#img-item" class="title">
                            at the venice art biennale 2015, a web of thread turns
                            the japan pavilion's roof into a complex and elaborate
                            maze of materials »
                        </a>
                        <span class="poster">
                            <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
                        </span>
                        <span class="location">
                            ATH
                        </span>
                    </li>
                    <li>
                        <a href="#img-item" class="img">
                            <img width="363" height="206" src="assets/demo/atart发现_03.jpg" alt="atart发现_03.jpg">
                        </a>
                        <a href="#img-item" class="title">
                            at the venice art biennale 2015, a web of thread turns
                            the japan pavilion's roof into a complex and elaborate
                            maze of materials »
                        </a>
                        <span class="poster">
                            <a href=""><img width="39" height="39" src="assets/demo/atart商城_18.jpg" alt="" class="avatar"><span class="name">done</span></a>
                        </span>
                        <span class="location">
                            ATH
                        </span>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>

		
