<div class="me-detail-page-content">
	<div class="page-content">

		<div class="detail">
            <div class="avatar-box">
                <img src="<%= asset_path('pic3.png') %>" alt="">
                <a href="">+M design office</a>
                <a href="" class="add-people">123</a>
                <a href="" class="people-count">345</a>
            </div>
		</div>
        <div class="user-center clearfix">
            <div class="user-sidebar">
                <ul>
                    <li><a class="user-post active" href="user-post">我的发布<span></span></a></li>
                    <li><a class="user-order" href="user-order">我的订单<span></span></a></li>
                    <li><a class="user-following" href="user-following">我的关注<span></span></a></li>
                    <li><a class="user-favs" href="user-favs">我的收藏<span></span></a></li>
                    <li><a class="user-message" href="user-message">消息中心<span></span></a></li>
                </ul>
            </div>
            <div class="user-center-content">
                <div class="order-content">
                    <p>订单列表</p>
                    <table class="format">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>相关艺术品</th>
                                <th>艺术家</th>
                                <th>运费</th>
                                <th>价格</th>
                                <th>定金</th>
                                <th>数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#1</td>
                                <td>葵花籽</td>
                                <td>艾未未</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>

		
