	<div class="login-page-content">

		<div class="login-box">
			<div class="title-bar">
				<span class="title">第一风景会员</span>
				<a class="register" href="">立即注册</a>
			</div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<span class="login-input username">
          <%= f.email_field :email, placeholder: "邮箱/用户名/已验证手机" %>
				</span>
				<span class="login-input password">
          <%= f.password_field :password %>
				</span>

				<span class="login-opts">
					<span class="auto-login"><input type="checkbox">自动登录</span>
					<a class="fgt-psw" href="">忘记密码？</a>
				</span>
				<input type="submit" value="登录" class="login-btn">
			<div class="third-party-login">
				使用合作网站账号登录第一风景: <br>
        <%= link_to "QQ", user_omniauth_authorize_path(:qq_connect) %>
				<a href="">新浪微博</a>
			</div>
      <% end %>
		</div>
	</div>

<script> document.body.className += "login-page";</script>
