<div class="order-content">
  <p>订单列表</p>
  <table class="format">
    <thead>
      <tr>
        <th>序号</th>
        <th>相关艺术品</th>
        <th>艺术家</th>
        <th>运费</th>
        <th>价格</th>
        <th>定金</th>
        <th>数量</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>#1</td>
      <td>葵花籽</td>
      <td>艾未未</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
