
%table
  %thead
    %tr
      %th Bookmarkable
      %th Bookmarkable type
      %th User
      %th
      %th
      %th

  %tbody
    - @bookmarks.each do |bookmark|
      %tr
        %td= bookmark.bookmarkable_id
        %td= bookmark.bookmarkable_type
        %td= bookmark.user_id
