<!-- # 页尾 -->
<div class="footer">
	<div class="footer-top">
		<div class="pure-g footer-top-inner footer-sns" id="footer-sns">
			<span class="sns-group">
				<a class="sns-link" href="#">
					<i class="wechat-ico"></i>
				</a>
				<a class="sns-link" href="#">
					<i class="weibo-ico"></i>
				</a>
			</span>
			<span class="sns-group">
				<a class="sns-link" href="#">
					<i class="ios-ico"></i>
				</a>
				<a class="sns-link" href="#">
					<i class="android-ico"></i>
				</a>
			</span>
		</div>
		<div class="app-download">
			<a href="#" class="apple"></a>
			<a href="#" class="android"></a>
		</div>
	</div>
	<div class="footer-bottom">
		Copyright 2015  Technical support：shenghuiyoulian</br>
		Contact address：北京市朝阳区南皋路129号北京市塑料三厂文化园在3画廊
	</div>
</div>
